# Gitignore for backend Python project

# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs and editors
.vscode/
.idea/
